html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    cursor: url('data/witch.png'), auto;


}

.active {
    cursor: url('data/witch1.png'), auto; 
}

.index {
    background-color: black;
    background-image: url(data/welcome.png);
    background-repeat: no-repeat;
    background-size: cover;

    color: rgb(92, 255, 136);
    display: block;
    font-size: 25px;
    font-family:cursive;
    text-align: center;

    background-color: rgb(0, 0, 0);


}

.choice1 {

    background-color: black;
    background-image: url(data/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(151, 0, 0);
    text-align: center;
}

.choice2A {

    background-color: black;
    background-image: url(data/2A.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(151, 0, 0);
    text-align: center;
}

.choice2B {

    background-color: black;
    background-image: url(data/2B.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(151, 0, 0);
    text-align: center;
}

.choice3A {

    background-color: black;
    background-image: url(data/3A.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(151, 0, 0);
    text-align: center;
}

.choice3B {

    background-color: black;
    background-image: url(data/3B.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(151, 0, 0);
    text-align: center;
}

.choice4A {

    background-color: black;
    background-image: url(data/4A.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(151, 0, 0);
    text-align: center;
}

.choice4B {

    background-color: black;
    background-image: url(data/4B.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(151, 0, 0);
    text-align: center;
}

.choice5A {

    background-color: black;
    background-image: url(data/5A.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(151, 0, 0);
    text-align: center;
}

.choice5B {

    background-color: black;
    background-image: url(data/5B.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(151, 0, 0);
    text-align: center;
}

.choice6A {

    background-color: black;
    background-image: url(data/6A.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(151, 0, 0);
    text-align: center;
}

.choice6B {

    background-color: black;
    background-image: url(data/6B.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(151, 0, 0);
    text-align: center;
}

