html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family:cursive;
    text-align: center;

}


  a:link, a:visited {
    background-color: #a288ff;
    color: rgb(198, 255, 190);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(244, 96, 255);
  }

.index {
    background-image: url(data/welcome.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);



    margin: 150px auto 0px;

    color: rgb(255, 255, 255);
    display: block;
    font-size: 25px;
    padding: 50px;

    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 900px;
    height: 500px;
}

.choice1 {

    background-color: black;
    background-image: url(data/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 150px auto 0px;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(255, 255, 255);


}

.choice2A {

    background-color: black;
    background-image: url(data/2A.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 150px auto 0px;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(255, 255, 255);
}

.choice2B {

    background-color: black;
    background-image: url(data/2B.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 150px auto 0px;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(255, 255, 255);
}

.choice3A {

    background-color: black;
    background-image: url(data/3A.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 150px auto 0px;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(255, 255, 255);
}

.choice3B {

    background-color: black;
    background-image: url(data/3B.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 150px auto 0px;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(255, 255, 255);
}

.choice4A {

    background-color: black;
    background-image: url(data/4A.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 150px auto 0px;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(255, 255, 255);
}

.choice4B {

    background-color: black;
    background-image: url(data/4B.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 150px auto 0px;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(255, 255, 255);
}

.choice5A {

    background-color: black;
    background-image: url(data/5A.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 150px auto 0px;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(255, 255, 255);
}

.choice5B {

    background-color: black;
    background-image: url(data/5B.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 150px auto 0px;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(255, 255, 255);
}

.choice6A {

    background-color: black;
    background-image: url(data/6A.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 150px auto 0px;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(255, 255, 255);
}

.choice6B {

    background-color: black;
    background-image: url(data/6B.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 150px auto 0px;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(255, 255, 255);
}


.active {
    background-image: url(data/abc.png);
    background-repeat: no-repeat;
    background-size: cover;
}


